
.heading{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 25px;
}

.container{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-grow: wrap;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}


.itemcontainer{
    /* border: 1px solid red; */
    width: 300px;
    height: 220px;
    display: flex;
    color: white;
    flex-direction: column;
    cursor: pointer;
}


.itemcontainer img{
    width: 300px;
    height: 180px;
    border-radius: 0.5rem;
}

.itemcontainer img:hover{
    opacity: 0.5;
}

.itemcontainer p{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.details{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.icon{
    font-size: 14px;
}

.bookMark{

    /* position:absolute; */
   

}

.title{
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
}