
.navbar{
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: 10px;
    align-items: center;
    width: 80px;
    border-radius: 1rem;
    background-color: #161D2F;
    align-self: center;

}


.logo{
    height: 150px;
    display: flex;
     align-items: center;

}

.navItems{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

.icon{
    font-size: 2rem;
    color: #5A698F;
    cursor: pointer;
}

.icon:hover{
    color: #FFFFFF;
    scale: 1.1;

}

.avatar{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    
}


@media (max-width: 800px){
    .navbar{
        width: 100vw;
        height: 80px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }


    .navItems{
        flex-direction: row;
        width: 300px;
        height: 80px;
        align-items: center;
        
    }

    .avatar{
        flex-direction: row;
        width: 200px;
        height: 100px;
        align-items: center;
    }

    .logo{
        height: 80px;
    }
}

@media (max-width:600px){
    .navItems{
        width: 150px;
    }

    .avatar{
        width: 50px;
    }
}