
.home{
 display: flex;
}


.firstsection{
   width: 10%;
   display: flex;
   align-items: center;
   height: 100vh;
   justify-content: center;
   
}

.secondsection{
   width: 90%;
   
}


@media (max-width: 800px){
     .home{
      flex-direction: column;
     }


     .firstsection{
      width: 95%;
      height: 100px;
      margin-left:1rem;
      justify-content: space-between;
     }

     .secondsection{
      width: 100%;
     }
}
